body {
    background-image: url(np.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

form {
    width: 400px;
    border: 2px solid #9898458f;
    padding: 20px;
    background: #989845c7;
    border-radius: 15px;
}

form .updatename {
    width: 100%;
    border: 2px solid #8b8b468f;
    padding: 10px;
    background: #f0f0b3; /* Lighter background to stand out */
    border-radius: 15px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 200;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: #1a0c0c;
    font-size: 23px;
    padding: 8px;
}

button {
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background: #333;
    transform: scale(1.05);
}

button.update-btn {
    background: #4CAF50; /* Green background for update button */
}

button.logout-btn {
    background: #f44336; /* Red background for logout button */
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.success {
    background: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
}

.ca {
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #444;
}

.ca:hover {
    text-decoration: underline;
}
